// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");

// Define fonts for body and headers
// $body-font: "Work Sans", "Helvetica", "sans-serif";
// $headers-font: "Nunito", "Helvetica", "sans-serif";
$headers-font: "Arvo", serif;
$banners-font: "Arvo", serif;
$body-font: "Nunito", "Helvetica", "sans-serif";

//underline effects
.blok-1 u {
  border-bottom: dotted 5px hsla(0, 95%, 35%, 1);
  border-bottom-left-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border-bottom-right-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  text-decoration: none;
}

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
