<h1>Your bookings</h1>

<table class="container-bookings" id="show-table">
  <thead>
    <tr>
      <th><h2>Game</h2></th>
      <th><h2>Start date</h2></th>
      <th><h2>End date</h2></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.bookings.each do |booking| %>
      <tr>
        <td><strong><%= booking.boardgame.title %></strong></td>
        <td><%= booking.start_date %></td>
        <td><%= booking.end_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
