Banner
<div class="banner"
  style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1563941406054-949225931d52);">
  <div class="container">
    <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras laoreet diam ac maximus faucibus. Ut interdum eleifend sollicitudin. Phasellus consequat ante eget lectus molestie, at dictum sem fermentum. Duis egestas molestie metus, sed egestas erat tincidunt laoreet. In ac enim eu nunc malesuada consequat non nec nisl. Pellentesque eleifend sem et risus scelerisque condimentum. Aenean vel nunc ac libero suscipit vestibulum. Nullam a mattis eros, eu luctus turpis. </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras laoreet diam ac maximus faucibus. Ut interdum eleifend sollicitudin. Phasellus consequat ante eget lectus molestie, at dictum sem fermentum. Duis egestas molestie metus, sed egestas erat tincidunt laoreet. In ac enim eu nunc malesuada consequat non nec nisl. Pellentesque eleifend sem et risus scelerisque condimentum. Aenean vel nunc ac libero suscipit vestibulum. Nullam a mattis eros, eu luctus turpis. .</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
