    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1571156425562-12341e7c9aae?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGJvYXJkZ2FtZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60);">
      <div class="container text-center">
        <h1> Come to play </h1>
        <p>We have boardgames</p>
        <%= link_to 'Browse boardgames', 'boardgames', class: "btn btn-gradient mt-5" %>
      </div>
    </div>
      <div class="cards-container-landing">
    <h2 class="text-center">How it works</h2>
    <div class="cards-landing">
      <div class="card-landing">
        <img src="https://us.123rf.com/450wm/gmast3r/gmast3r2105/gmast3r210500791/169544900-people-playing-monopoly-board-game-at-home-mix-race-friends-having-fun-leisure-activity-concept.jpg?ver=6" alt>
        <h4>Fun with Friends</h4>
        <p>Board Gaming is making a resurgence, with its focus on social fun, whether through intense strategy or tons of laughs, there's something for everyone.</p>
      </div>
      <div class="card-landing">
        <img src="https://img.freepik.com/free-vector/kids-playing-board-game-floor_318844-312.jpg?size=626&ext=jpg" alt>
        <h4>Great for game groups</h4>
        <p>With Games Arena, rent a boardgame and satisfy an entire game group!</p>
      </div>
      <div class="card-landing">
        <img src="https://www.spellenrijk.nl/resize/1200x790_13188762581834.jpg/0/1100/True/monopoly-friends-nederlandse-versie-3.jpg" alt>
        <h4>Sharing at an affordable price</h4>
        <p>Gaming has never been better, but with many games running upwards of 50€, it can be hard to play everything you want. Until now.</p>
      </div>
    </div>
  </div>
