<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1563941406054-949225931d52);">
      <div class="container">
        <h1> Come to play </h1>
        <p>We have boardgames</p>
        <%= link_to 'Browse boardgames', 'boardgames', class: "btn btn-gradient" %>
      </div>
    </div>
</body>
</html>
