.banner {
  display: flex;
  background-size: cover;
  background-position: 50%;
  height: 100%;
  padding: 80px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
  padding: 20px 0;
  font-family: "Work Sans", "Helvetica", "sans-serif";
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: "Work Sans", "Helvetica", "sans-serif";
}
.container {
  flex-grow: 1;
}

body, html {
  height: 100%;
}
