.btn-ghost {
  color: #4a4a4a;
  border: 1px solid #4a4a4a;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1edd88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1bcb7f;
  color: white;
}

//btn-gradient
.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient($orange, $yellow);
  transition: background 0.3s ease;
  border: 1px solid $orange;
  text-decoration: none;
}

.btn-gradient:hover {
  background: linear-gradient($orange, $yellow);
  padding: 9px 25px;
  border: 1px solid dark;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.4);
}

//btn-gradient-card
.btn-gradient-card {
  color: $white;
  background: linear-gradient($orange, $yellow);
  border: 1px solid $orange;
  padding: 8px 24px;
  border-radius: 50px;
  // font-weight: lighter;
  transition: opacity 0.3s ease;
  visibility: hidden;
  text-decoration: none;
}
//btn-gradient-2
.btn-gradient-2 {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient($orange, $yellow);
  transition: background 0.3s ease;
  border: 1px solid $orange;
  margin-top: 7rem;
}

.btn-gradient-2:hover {
  background: linear-gradient($orange, $yellow);
  color: white;
}

.btn-yellow {
  color: white;
  padding: 8px 24px;
  border-radius: 8px;
  background-color: $orange;
  font-weight: bold;
  border: 1px solid $orange;
}
.btn-yellow:hover {
  color: $white;
  padding: 8px 24px;
  border-radius: 8px;
  background-color: $orange;
  font-weight: bold;
  border: 1px solid $red;
}

.fa-arrow-alt-circle-left {
  font-size: 40px;
  color: $orange;
  padding: 10px;
  position: sticky;
  top: 0px;
}
