.footer {
  text-align: center;
  padding: 20px;
  background-color: #2c2c2c;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer a {
  font-size: 30px;
  color: $orange;
}

.footer a:hover {
  color: $yellow;
  text-decoration: none;
}

.footer p {
  color: #a7a7a7;
  padding: 10px;
}

.footer .fas {
    color: #BF0F12;
}
