.margin-custom {
width: 80vw;
}

.login-container {
  height:100%;
  display:flex;
  justify-content: center;
}

.login-form {
width: 80%;
border-radius: 5px;
box-shadow: 0 0 15px rgba(0,0,0,0.2);
background-color: $orange;

}

.login-form .form-inputs{
width: 90%;
}
