.margin-custom {
  width: 80vw;
}

.login-container {
  display:flex;
  justify-content: center;
}

.login-form {
  width: 800px;
  border-radius: 5px;
  border-color: $red;
  border-width: thin;
  border-style: solid;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: $yellow;
  padding: 20px;
  }

.new_user {

padding: 10px;
}
